.item {
  text-decoration: none;
  color: initial;
  margin: 20px;
  padding: 20px;
  min-width: 300px;
  width: 40%;
  border-radius: 13px;
  border: 1px solid var(--pink);
  background-color: var(--light-pink);
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 5%);
}

.item:hover {
  box-shadow: 30px 20px 30px 0 rgb(0 0 0 / 10%);
  transition: all 0.4s;
  transform: translate(-2px, -2px);
}

.item h4 {
  margin: 0;
}