@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

a.logo-wrapper {
  text-decoration: none;  
}

h1.logo {
  display: flex;
  align-items: center;
  color: black;
  font-family: 'Carter One';
  font-weight: normal;
}

p.subtitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: medium;
  font-weight: normal;
  font-style: italic;
  margin: 0 20px;
}
