.submissions-list {
  width: 100%;
  border-collapse: collapse;
}

.submissions-list thead {
  background-color: var(--pink);
  color: white;
}

.submissions-list th, .submissions-list td {
  padding: 7px;
}

.submissions-list td {
  border: 1px solid lightgrey;
  cursor: pointer;
}